.h-articles {
  padding: 2.8rem 1.8%;
}

.stack-articles-main {
  display: block;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
}

.stack-articles-page {
  display: grid;
  grid-row-gap: 3em;
  grid-column-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  width: 100%;
  margin: 0;
}

.articles-card {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(1, minmax(40px, 1fr));
  overflow: hidden;
  column-gap: 1.5em;
  row-gap: 0.8em;
  min-width: 288px;
}

.card-image {
  display: inline-block;
  width: 100%;
  height: 13em;
  object-fit: cover;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.5em;
}

img {
  max-width: 100%;
}

[class^="articles-card"]:hover > * {
  cursor: pointer;
}

figure {
  position: relative;
}
figcaption {
  position: absolute;
  font-size: 0.8rem;
  bottom: 3%;
  left: 2%;
  color: #8a9eb5;
}
