/* ---------------Site------------------ */

.site {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

/* ---------------Content------------------ */

.content {
  flex-grow: 1;
  width: 100%;
  padding-top: 2.3%;
  padding-bottom: 2.3%;
}

.stack-main {
  display: block;
  padding-left: 2.3%;
  padding-right: 2.3%;
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
}

.hero {
  display: grid;
  row-gap: 2em;
  column-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
}

.stack .title {
  padding-bottom: 0.8rem;
  font-size: 2.4em;
}

.stack span {
  font-size: 1.3em;
}

.stack-feed {
  margin-top: 5em;
}

.stack-articles {
  display: grid;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  width: 100%;
  margin: 0;
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  overflow: hidden;
  column-gap: 2em;
  row-gap: 2em;
  min-width: 40px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content .card-meta,
.card-subtitle {
  color: #8a9eb5;
}

.card-title {
  font-size: 1.2em;
  line-height: 1.4;
}

.card-subtitle {
  font-size: 1.2em;
}
