/* ---------------Footer------------------ */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
  background: #333a41;
  font-weight: 500;
}

.footer span {
  flex-grow: 1;
}

.footer > * + * {
  margin-left: 0.5rem;
  padding: 0.5em 0.8em;
}
