@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #edf0f1;
  font-family: Roboto, sans-serif;
  text-decoration-line: none;
  list-style: none;
}

html,
body {
  min-height: 100hv;
  height: 100%;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.75;
  background-color: rgb(22, 25, 27);
  font-weight: 400;
}

[class^="stack"] > * {
  margin: 0;
}

[class^="card"]:hover > * {
  cursor: pointer;
}

a[href]:hover,
a:hover > * {
  color: #00ccff;
}

/* ---------------Site------------------ */

.site {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

/* ---------------Header------------------ */

header {
  display: flex;
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
  padding: 2rem 2%;
}

.navbar,
.nav-links,
.brand {
  display: flex;
}

.brand {
  cursor: pointer;
  margin: 0 1em;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar {
  flex: 1;
  justify-content: flex-end;
  margin: 0 1em;
}

.nav-link {
  margin: 0.3em;
  text-decoration: none;
  padding-left: 1em;
}

/* ---------------Content------------------ */
.content {
  flex-grow: 1;
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.stack-main {
  display: block;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.stack-articles {
  display: grid;
  grid-row-gap: 3em;
  grid-column-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  width: 100%;
  margin: 0;
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(1, minmax(40px, 1fr));
  overflow: hidden;
  column-gap: 1.5em;
  row-gap: 0.8em;
  min-width: 288px;
}

.card-image {
  display: inline-block;
  width: 100%;
  height: 13em;
  object-fit: cover;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.5em;
}

.card-content .card-meta,
.card-subtitle {
  color: #8a9eb5;
}

.card-title {
  font-size: 1.2em;
  line-height: 1.4;
}

.card-subtitle {
  font-size: 1.2em;
}

img {
  max-width: 100%;
}

/* ---------------Footer------------------ */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
  background: #333a41;
  font-weight: 500;
}

.footer span {
  flex-grow: 1;
}

.footer > * + * {
  margin-left: 0.5rem;
  padding: 0.5em 0.8em;
}
