@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* ---------------Global------------------ */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #edf0f1;
  font-family: Roboto, sans-serif;
  text-decoration-line: none;
  list-style: none;
}

html,
body {
  min-height: 100hv;
  height: 100%;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.75;
  background-color: rgb(22, 25, 27);
  font-weight: 400;
}

[class^="stack"] > * {
  margin: 0;
}

a[href]:hover,
a:hover > * {
  color: #00ccff;
}

.stack-medium > * + * {
  margin-top: 2rem;
}

.stack-small > * + * {
  margin-top: 1.8rem;
}

article > * + * {
  margin-top: 1rem;
}
/* ---------------Site------------------ */

.site {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

/* ---------------Header------------------ */

.header {
  display: flex;
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
  padding: 2.8% 1%;
}

.navbar,
.nav-links,
.brand {
  display: flex;
}

.brand {
  cursor: pointer;
  margin: 0 1em;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar {
  flex: 1;
  justify-content: flex-end;
  margin: 0 1em;
}

.nav-link {
  margin: 0.3em;
  text-decoration: none;
  padding-left: 1em;
}

/* ---------------Content------------------ */

.content {
  flex-grow: 1;
  width: 100%;
  padding-top: 2.3%;
  padding-bottom: 2.3%;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(23%, 1fr) minmax(auto, 70%) minmax(23%, 1fr);
}

header {
  font-size: clamp(0.9rem, 1.3vw, 1.3rem);
}

time {
  color: #8a9eb5;
}

.post-meta > * {
  grid-column-start: 2;
  grid-column-end: auto;
}

.post-meta span {
  color: #8a9eb5;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
}

.post-body {
  width: 100%;
  font-size: clamp(1rem, 1.8vw, 1.4rem);
}

.post-body > * {
  grid-column-start: 2;
  grid-column-end: auto;
}

.post-body ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-position: outside;
  list-style-image: initial;
}

.post-body ul > li {
  position: relative;
  padding-left: 1.2em;
}

.post-body ul > li:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-top: 0.645em;
  background: #00ccff;
  border: 1px solid rgb(22, 25, 27);
  border-radius: 0.1em;
  content: "";
}

/* ---------------Footer------------------ */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
  background: #333a41;
  font-weight: 500;
}

.footer span {
  flex-grow: 1;
}

.footer > * + * {
  margin-left: 0.5rem;
  padding: 0.5em 0.8em;
}
