/* ---------------Pagination------------------ */
.pagination {
  display: grid;
  grid-row-gap: 3em;
  grid-column-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  width: 100%;
}

.pagination .previous {
  align-items: flex-end;
  text-align: right;
}

.pagination a.previous {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  text-decoration-color: transparent;
}

.previous span {
  text-transform: uppercase;
  color: #8a9eb5;
}

.previous h3 {
  font-size: 1.5em;
}
