@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* ---------------Global------------------ */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(26, 30, 32);
  color: #edf0f1;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-decoration-line: none;
  list-style: none;
}

a[href]:hover,
a:hover > * {
  color: #00ccff;
}

/* ---------------Site------------------ */

.site {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 100vh;
}

/* ---------------Header------------------ */

header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
  padding: 2rem 2%;
}

.navbar,
.nav-links,
.brand {
  display: flex;
}

.brand {
  cursor: pointer;
  margin: 0 1em;
  font-weight: 500;
}

.navbar {
  flex: 1;
  justify-content: flex-end;
  margin: 0 1em;
}

.nav-link {
  margin: 0.3em;
  text-decoration: none;
}

/* ---------------Main------------------ */
.content {
  flex-grow: 1;
  width: 100%;
}

main {
  display: block;
  padding: 0 4%;
}

.hero {
  display: grid;
  row-gap: 2em;
  column-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 7%;
}

.stack {
  display: block;
}

.aside {
  display: block;
}
